@model eShop.ViewModel.Catalog.Common.PageResult<eShop.ViewModel.Catalog.Products.ProductVM>
@{
    ViewData["Title"] = "ProductsByCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var category = ViewBag.Category as eShop.ViewModel.Catalog.Catergories.CategoryVM;
    var baseAddress = ViewData["BaseAddress"] as string;
    var culture = CultureInfo.CurrentCulture.Name;
    var cultureInfor = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
    var baseUrlToDetail = $"/{culture}/Product/Detail/";
}

<h3> @category.Name <small class="pull-right"> @Model.TotalRecords <localize>products are available</localize></small></h3>
<hr class="soft" />
@await Component.InvokeAsync("ProductTable", Model);