@using eShop.ViewModel.System.Languages
@model eShop.ViewModel.Catalog.Products.ProductUpdateRequest
@{

}

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                        <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                        <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                    </svg>
                    Cập nhật
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form enctype="multipart/form-data" asp-action="update" asp-controller="product" method="post">
                <div class="modal-body">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <!-- Latest compiled and minified CSS -->
                    <input type="hidden" asp-for="Id" />
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-tabs" id="pills-tab" role="tablist">
                                @for (int i = 0; i < Model.Translations.Count; i++)
                                {
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link@(i==0?" active":"")" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-@i" type="button" role="tab" aria-controls="pills-home" aria-selected="@(i==0)">@Model.Translations[i].LanguageName</button>
                                    </li>
                                }
                            </ul>
                            <div class="tab-content">
                                @for (int i = 0; i < Model.Translations.Count; i++)
                                {
                                    <input type="hidden" asp-for="Translations[i].Id" />
                                    <div class="tab-pane fade@(i==0?" show active":"")" id="pills-@i" role="tabpanel" aria-labelledby="pills-home-tab">
                                        <input asp-for="Translations[i].LanguageId" class="form-control" type="hidden" />
                                        <div class="row">
                                            <div class="form-group col-md-3">
                                                <label asp-for="Translations[i].Name" class="control-label"></label>
                                                <input asp-for="Translations[i].Name" class="form-control" />
                                                <span asp-validation-for="Translations[i].Name" class="text-danger"></span>
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label asp-for="Translations[i].SeoTitle" class="control-label"></label>
                                                <input asp-for="Translations[i].SeoTitle" class="form-control" />
                                                <span asp-validation-for="Translations[i].SeoTitle" class="text-danger"></span>
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label asp-for="Translations[i].SeoAlias" class="control-label"></label>
                                                <input asp-for="Translations[i].SeoAlias" class="form-control" />
                                                <span asp-validation-for="Translations[i].SeoAlias" class="text-danger"></span>
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label asp-for="Translations[i].SeoDescription" class="control-label"></label>
                                                <input asp-for="Translations[i].SeoDescription" class="form-control" />
                                                <span asp-validation-for="Translations[i].SeoDescription" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            @{
                                                var rows = 10;
                                            }
                                            <div class="form-group col-md-6">
                                                <label asp-for="Translations[i].Details" class="control-label"></label>
                                                <textarea asp-for="Translations[i].Details" class="form-control" rows="@rows"></textarea>
                                                <span asp-validation-for="Translations[i].Details" class="text-danger"></span>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label asp-for="Translations[i].Description" class="control-label"></label>
                                                <textarea asp-for="Translations[i].Description" class="form-control" rows="@rows"></textarea>
                                                <span asp-validation-for="Translations[i].Description" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary">Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    document.querySelectorAll('textarea').forEach(e => {
        ClassicEditor
            .create(e)
            .then(editor => {
                editor.model.document.on('change:data', (evt, data) => {
                    /*e.innerHTML = editor.getData();*/
                });
            })
            .catch(error => {
                console.error(error);
            });
    });
</script>

